<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="boundVars" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <add key="templateDir" value="."/>
    <add key="templateFileExt" value="*.doc*"/>
    <add key="caseSensitiveRegex" value="true"/>
  </appSettings>
  <!-- use (?:) groups in variables regex for skip all groups before output one (output should be at 1 index) -->
  <boundVars>
    <add key="DocNum" value="(ПГ-МОН-\d+)" />
    <add key="DateFrom" value="от\s+(\d+\.\d+\.\d+)" />
    <add key="DateCompleteTo" value="Срок исполнения:\s+(\d+\.\d+\.\d+)" />
    <add key="AuthorEmail" value="Электронная почта\s+(\S+)" />
    <add key="AuthorFullName" value="Корр.:\s+(.+)$" />
    <add key="AuthorLastMiddleNames" value="Корр.:\s+\S+\s+(.+)$" />
    <add key="AuthorAddress" value="Адрес:\s+(.+)$" />
    <add key="MailBody" value="Краткое содержание:(.*)$" />
    <add key="Subject" value="Тема:\s+(.*)$" />
  </boundVars>
</configuration>
