<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ucmdb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <ucmdb.Properties.Settings>
            <setting name="ucmdb_UcmdbService_UcmdbService" serializeAs="String">
                <value>http://rsb-asksmucmdb.rosbank.rus.socgen:8080/axis2/services/UcmdbService</value>
            </setting>
        </ucmdb.Properties.Settings>
    </applicationSettings>
</configuration>