@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    http://github.com/gvaduha <br />
    <abbr title="Phone">P:</abbr>
    +7.903.2692933
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:gvaduha@gmail.com">gvaduha@gmail.com</a><br />
</address>