@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC5 Skeleton</h1>
    <p class="lead">Test MVC5 application with gmail authentication and simple data model.</p>
    <p><a href="http://github.com/gvaduha" class="btn btn-primary btn-lg">Sources (at)github</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Application links</h2>
        <p><a class="btn btn-default" href="/VirtualRooms">Virtual rooms</a></p>
        <p><a class="btn btn-default" href="/Users">Users</a></p>
    </div>
</div>